services:
  prometheus:
    image: registry:3.0.0
    container_name: registry
    environment:
      OTEL_TRACES_EXPORTER: none
      REGISTRY_HTTP_SECRET: randomString32chars
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    ports:
      - 5000:5000
      - 5001:5001
    restart: unless-stopped
    volumes:
      - /var/lib/docker:/var/lib/docker
      - ./config.yml:/etc/distribution/config.yml:ro
      - /root/docker-compose/registry/htpasswd:/auth/htpasswd:ro
  redis:
    image: redis:8.2.3
    container_name: redis
    ports:
      - 6380:6379
    restart: unless-stopped
    volumes:
      - ./redis:/var/lib/redis

